<html>
<head>
  <center>
<script type="text/javascript">
function startTime()
{
var tm=new Date();
var h=tm.getHours();
var m=tm.getMinutes();
var s=tm.getSeconds();
m=checkTime(m);
s=checkTime(s);
document.getElementById('txt').innerHTML=h+":"+m+":"+s;
t=setTimeout('startTime()',500);
}
function checkTime(i)
{
if (i<10)
{
i="0" + i;
}
return i;
}
</script> </head> <body onload="startTime()"> <p id="txt"> </p>
</center>
 <form>
  <h1>POISK:</h1>
  <input type="search" name="q" placeholder="введите запрос...">
  <input type="submit" formaction="http://google.com/search?q" value="VZHUX VZHUX">
 </form>
 <body><form>
<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/47184325&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"><\/script>')</script>
<script src="jquery.shoutcast.easy.min.js?host=example.com&port=8000"></script>
</body>
</body>
</html>
